.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ff4654;
}

.img {
	width: 200%;
	margin: 0 -50%;
	object-fit: cover;
	filter: grayscale();
	opacity: 0%;
	transform: translateY(-40%);
	animation:
		slide 10s forwards,
		fade linear 1s forwards,
		fade linear 1s 9s reverse forwards;
}

@keyframes slide {
	from {
		transform: translateY(-40%);
	}
	to {
		transform: translateY(-5%);
	}
}

@keyframes fade {
	from {
		opacity: 0%;
	}
	to {
		opacity: 40%;
	}
}
