@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.agent {
  position: fixed;
  width: 100%;
  height: 100%;
}

.timer {
  position: absolute;
  top: -15vmin;
  right: -5vmin;
  width: 50vmin;
  height: 50vmin;
}

.telop {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
}
