.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  color: #0f1822;
}

.editable {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2% 5%;
  width: 50%;
  font-size: 100px;
  font-family: "Anton", sans-serif;
  text-shadow: 5px 5px 0 rgba(15, 24, 34, 0.45);
}

.fixed {
  position: absolute;
  bottom: 0;
  padding: 2%;
  width: 100%;
  text-align: center;
  font-size: 130px;
  font-family: "Impact", "Anton", sans-serif;
  text-shadow: 5px 5px 0 rgba(15, 24, 34, 0.45);
}
