.container {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.container::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	border: groove 12px #fff;
	animation: rotate 20s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.timer {
	position: relative;
	top: 30%;
	width: 100%;
	height: 100%;
	font-size: 150px;
	font-family: "Martian Mono", monospace;
}

.text {
	position: relative;
	top: 48%;
	left: -3%;
	width: 100%;
	height: 100%;
	font-size: 55px;
	font-family: "Martian Mono", monospace;
	text-align: center;
}

.minutes {
	text-align: center;
}

.seconds {
	position: relative;
	text-align: center;
	font-size: 70%;
}

.number {
	display: inline-block;
}

.unit {
	display: inline-block;
	font-size: 75%;
}
