.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.logo {
  position: absolute;
  left: 0;
  height: 100%;
}

.info {
  position: absolute;
  right: 0;
  height: 100%;
  transform: translateX(150%);
  animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

.logo {
  animation: rotate 3s infinite;
}

.logo img {
  height: 100%;
  padding: 10%;
  object-fit: contain;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.map {
  position: relative;
  height: 100%;
  float: right;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
}

.map img {
  height: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 2em #000;
}

.label {
  position: absolute;
  top: 0;
  padding: 2% 4%;
}

.next {
  position: absolute;
  float: right;
  bottom: 30%;
  right: 85%;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  transform: rotate(90deg);
}
