@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--card-color);
  color: var(--text-color);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  font-family: 'Anton', sans-serif;
}

.logo {
  width: 100%;
  height: max-content;
}

.logo img {
  width: 100%;
  object-fit: contain;
}
