@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

.header {
  position: absolute;
  width: 12vw;
  height: 92vh;
  top: 5vh;
  bottom: 3vh;
  left: 3vw;
}

.teams {
  position: absolute;
  width: 80vw;
  height: 92vh;
  top: 5vh;
  bottom: 3vh;
  right: 3vw;
}
