@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
  font-family: 'Kaisotai';
  src: url('../../../../fonts/kaiso_up_web/Kaisotai-Next-UP-B.eot');
  src: url('../../../../fonts/kaiso_up_web/Kaisotai-Next-UP-B.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.header {
  position: absolute;
  width: 12vw;
  height: 92vh;
  top: 5vh;
  bottom: 3vh;
  left: 3vw;
}

.teams {
  position: absolute;
  width: 80vw;
  height: 92vh;
  top: 5vh;
  bottom: 3vh;
  right: 3vw;
}
