.map {
  position: relative;
  width: 100%;
  height: 12vw;
}

.map img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%);
}

.text {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 5%;
  font-size: 150%;
  font-family: 'Anton', sans-serif;
}

.key {
  position: absolute;
  top: 0;
  left: 0;
}

.value {
  position: absolute;
  bottom: 0;
  right: 0;
}
