.background{
    background: repeating-linear-gradient(
    -30deg,     /* 角度の指定 */
    #808080,      /* 色A ... 開始 */
    #808080 90px,  /* 色A ... 終了 */
    #666666 90px,      /* 色B ... 開始 */
    #666666 180px   /* 色B ... 終了 */ 
    );                /* TODO 線の太さと角度の調整 */
    width: 100%;
    height:  100%;

}