.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.showcase {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.marquee {
  position: absolute;
  top: 25%;
  height: 50%;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
  font-family: 'Impact', 'Anton', sans-serif;
  font-size: 100px;
  line-height: 100px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
