.wrapper {
    width: 100%;
    height: 100%;
    background-color: #f15d43;
    position: absolute;
    left: 25%;
    }

.next {
    font-size: 100%;
    color: #333333;
    font-family: var(--font-family-s2);
    position: relative;
    left: 20%;
}