.container {
  width: 15%;
  height: 50%;
  background-color: blueviolet;
  font-family: var(--font-family-s2);
  color: white;
  font-size: 60%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 30% 30% 20%;
  gap: 5%;
  overflow: hidden;
}

.icon {
  height: 100%;
  grid-column: 1/1;
  grid-row: 2/3;
  object-fit: cover;
}

.name {
  overflow: hidden;
  /* background-color: brown; */
  width: 90%;
  z-index: 3;
  color: aliceblue;
  text-align: center;
  grid-column: 1/1;
  grid-row: 3/4;
  padding: 10%;
}

.name span {
  display     : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation   : scrollAnime 1s linear infinite;
}

@keyframes scrollAnime{
  0% { transform: translateX(0)}
100% { transform: translateX(-100%)}
}

/* .name::before {
  content: "";

  width: 100%;
  height: 70%;
  background-color: black;
  border: 8px solid;
  border-color: blue;
  transform: skew(20deg);
  z-index: 2;
  grid-column: 1/1;
  grid-row: 3/4;
}  */

.box{
  top: 0;
  width: 100%;
  height: 70%;
  background-color: black;
  border: 8px solid;
  border-color: blue;
  transform: skew(20deg);
  z-index: 2;
  grid-column: 1/1;
  grid-row: 3/4;
  position: relative;
}