.watermark {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 50%;
}

.watermark .left {
	position: absolute;
	left: 0;
	transform: translateX(-50%);
}

.watermark .right {
	position: absolute;
	right: 0;
	transform: translateX(50%);
}
