.timer {
	width: 100%;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.folder {
	width: 70%;
	display: flex;
	justify-content: right;
	align-items: flex-end;
}

.folder input {
	width: 90%;
	font-size: 20px;
	text-align: center;
}
.folder p {
	margin: 0;
}
